svg {
    display: block;
    margin: auto;
    width: 100%;
    height: 500px;
}
textarea {
    display: block;
    margin: auto;
    width: 75%;
    height: 5em;
    font-family: "Fira Mono";
}
button {
    display: block;
    margin: auto;
    margin-top: 5px;
}
text {
    font-family: "Fira Mono";
    user-select: none;
}